:local .atom,
:local .className,
:local .type {
  display: flex;
  margin-bottom: 0.5em;
}

:local .atomLabel,
:local .classNameLabel,
:local .typeLabel {
  align-self: center;
  margin-right: 0.5em;
}

:local .atomSelector,
:local .classNameSelector,
:local .typeSelector {
  flex-grow: 1;
}

:local .value {
  display: flex;
  margin-bottom: 0.5em;
}

:local .valueLabel {
  margin-right: 0.5em;
  align-self: center;
}

:local .valueInput {
  flex-grow: 1;
}
